<form [formGroup]="userProfile">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="userName" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
    </mat-form-field>
    <div>
        <mat-label>Gender</mat-label>
        <mat-selection-list>
            <mat-list-option *ngFor="let g of gender">
              {{g}}
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div>
        <button mat-button color="primary" class="btn btn-primary">Update</button>
    </div>
</form>